<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/databaseDirectory/{id}(id=${person.getMUSIC_ID()})}" th:object="${person}">
    <label for="name">Enter name of Track: </label>
    <input type="text" th:field="*{MUSIC_TRACKNAME}" id="name"/>
    <br/>
    <label for="lastname">Enter Genre: </label>
    <input type="text" th:field="*{MUSIC_GENRE}" id="lastname"/>
    <br/>
    <label for="mail">Enter Duration: </label>
    <input type="text" th:field="*{MUSIC_DURATION}" id="mail"/>
    <br/>
    <label for="location">Enter Artist: </label>
    <input type="text" th:field="*{MUSIC_ARTIST}" id="location"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>