<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Hello</h1>
<div>
<img src="https://lh3.ggpht.com/Okp3VhUSSrck4vS2KPUavR3WA5zNrKiHjyfq4qqEtc-gCx_0OkXMEGtoB-f9bpAVfiVw=h500" height="120" width="640">
<h1></h1>
</div>
<div>
<img src="https://lh3.ggpht.com/Okp3VhUSSrck4vS2KPUavR3WA5zNrKiHjyfq4qqEtc-gCx_0OkXMEGtoB-f9bpAVfiVw=h500" height="120" width="640">
<h1></h1>
</div>
<img src="https://lh3.ggpht.com/Okp3VhUSSrck4vS2KPUavR3WA5zNrKiHjyfq4qqEtc-gCx_0OkXMEGtoB-f9bpAVfiVw=h500" height="120" width="640">
<h1></h1>
<img src="https://lh3.ggpht.com/Okp3VhUSSrck4vS2KPUavR3WA5zNrKiHjyfq4qqEtc-gCx_0OkXMEGtoB-f9bpAVfiVw=h500" height="120" width="640">
<h1></h1>
<img src="https://lh3.ggpht.com/Okp3VhUSSrck4vS2KPUavR3WA5zNrKiHjyfq4qqEtc-gCx_0OkXMEGtoB-f9bpAVfiVw=h500" height="120" width="640">


<h1> <a>Link to download</a>  </h1>

<form method="POST" enctype="multipart/form-data"
      action="/upload">
    File to upload: <input type="file" name="file"><br /> Name: <input
        type="text" name="name"><br /> <br /> <input type="submit"
                                                     value="Upload"> Press here to upload the file!
</form>


<a href="/goodbye">goto goodbye</a>
</body>
</html>